__pycache__/
*.pyc
workstations.txt
workstations.json
users.json
ad_config.json
ha_config.json
plugs.json
.vscode/
.idea/
venv/
.venv/

# Build artifacts
build/
dist/
*.spec

# Local Assets
res/Postbox_ident.jpg
static/img/Postbox_ident.jpg
static/img/postbox_logo.png
*.png
